---
layout: default
custom_remote_css:
  - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css
  - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css
custom_remote_js:
  - //cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js
  - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js
custom_local_js:
  - gfeed
  - slickify
---

<div id="contentrow" class="row">
  <div class="large-4 columns">
    <div id="contactus" class="row">
      <div class="large-12 columns">
        <a class="button small radius" href="{{ "/research/participate/" |prepend: site.baseurl }}">Participate in an Experiment</a><br/>
        <a class="button small radius" href="{{ "/contact/" |prepend: site.baseurl }}">Contact</a>
        <a class="button small radius alert" href="{{ "/jobs/2016postdocs.html" |prepend: site.baseurl }}">Two post-doc positions available</a>
      </div>
    </div>
    <div id="spacer" class="row">

    </div>
    <div class="row">
      <div class="large-10 large-centered columns">
        <div id="twitterfeed">
          {% include twitter_feed.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="large-8 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="mycarousel">
          {% for item in site.data.carousel %}
          {% include carousel.html %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div id="wpfeed" class="large-12 columns">
          <div class="row">
            <div class="large-9 columns">
              <h1 class="page-heading"><a></a></h1>
            </div>
            <div class="large-3 columns">
              <a class="rss"><img src="{{site.baseurl}}/webicons/webicon-rss.svg" alt="RSS" width="20" height="20"></a>
            </div>
          </div>
          <div class="row">
            <ul class="wp-entry">
            </ul>
          </div>
      </div>
    </div>
  </div>
  <hr/>
</div>


 <div class="row"></div>
