---
layout: default
---

<div id="contentrow" class="row">
  <div class="large-4 columns">
    <div id="contactus" class="row">
      <div class="large-12 columns">
        <a class="button small radius" href="{{ "/research/participate/" |prepend: site.baseurl }}">Participate in an Experiment</a><br/>
        <a class="button small radius" href="{{ "/contact/" |prepend: site.baseurl }}">Contact</a>
        <a class="button small radius alert" href="{{ "/jobs/2016postdocs.html" |prepend: site.baseurl }}">Two post-doc positions available</a>
      </div>
    </div>
    <div id="spacer" class="row"></div>
    <div class="row">
      <div class="large-10 large-centered columns">
        <div id="twitterfeed">
          {% include twitter_feed.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="large-8 columns">
    <div class="row">
      <div class="large-12 columns">
        <ul data-orbit>
          {% for item in site.data.carousel %}
          {% if item.image %}
          {% include carousel_pic.html %}
          {% else %}
          {% include carousel_data.html %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% include invited_talks.html %}
  </div>
  <hr/>
</div>


 <div class="row"></div>
