---
layout: sidenav_sticky
title: Undergraduate Independent Study Projects
category: research
custom_local_js: sticky
navlinks:
  - text: Research Statement
    link: research/statement/
  - text: How are we funded?
    link: research/grants/
  - text: Undergraduate Independent Study Projects
    link: research/independent_study.html
    current: true
  - text: Publications
    link: publications/
  - text: Recorded Presentations
    link: publications/video.html
  - text: Lab wiki
    link: http://wiki.bcs.rochester.edu/HlpLab/
    external: true
---

{% assign sources = site.data.independent_study.funding %}

{% comment %}
<div class="row">
  <div class="large-12 columns">
    {% assign funding = site.data.independent_study.students | group_by:'funding' %}
    <ul id="funding">
    {% for source in funding%}
    {% if source.name != '' %}
    <li>Research supported by a {{source.name}}:
      <ul>
        {% for student in source.items %}
        <li>{{student.firstname}} {{student.lastname}}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endcomment %}

{% assign grouped_students = site.data.independent_study.students | sort:'year'| reverse| group_by:'year' %}
{% for row in grouped_students %}
<div class="row">
  <div class="large-12 columns">
  <h2>{{row.name}}</h2>
    <table id="students_{{row.name}}" style="width: 100%;">
      <thead>
        <tr><th>Name</th><th>Major</th><th>Research Semester</th><th>Research Title</th><th>Advisor</th><th>BA Thesis?</th></tr>
      </thead>
      <tbody>
        {% for student in row.items %}
        <tr>
          <td>{{student.firstname}} {{student.lastname}}{% if student.funding %}{{sources|link_index_of: student.funding, "funding"}}{% endif %}</td>
          <td>{% if student.major %}{{student.major |join:', '}}{% endif %}</td>
          <td>{{student.term}}, {{student.year}}</td>
          <td>{{student.project}}</td>
          <td>{{student.advisor |join:', '}}</td>
          <td>{% if student.thesis %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

<div class="row">
  <div class="large-12 columns">
    <ul id="funding">
    {% for s in sources %}
    <li id="funding{{forloop.index}}">[{{forloop.index}}] Research supported by a {{s}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
