---
layout: page
category: research
navlinks:
  - text: Research Statement
    link: research/statement/
  - text: How are we funded?
    link: research/grants/
  - text: Undergraduate Independent Study Projects
    link: research/independent_study.html
  - text: Publications
    link: publications/
  - text: Recorded Presentations
    link: publications/video.html
  - text: HLP Lab In the News
    link: news/
    current: true
  - text: Lab wiki
    link: http://wiki.bcs.rochester.edu/HlpLab/
    external: true
---
<div class="grid-x">
  <div id="hlpnews" class="large-12 cell">
    <div class="grid-x">
      <div class="large-9 cell">
        <h1 class="page-heading">HLP Lab In the news</h1>
      </div>
      <div class="large-3 cell">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="item"><i class="fas fa-rss-square" style="font-size: 3em; color: #f26522;"></i></a>
      </div>
    </div>
    <div class="grid-x">
      <div class="large-12 cell">
        <ul class="post-list">
        {% assign newsblurbs = site.newsblurbs | sort: 'date' | reverse  %}
          {% for post in newsblurbs limit:10 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span>
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            {{post.content}}
            {% unless forloop.last %}<hr/>{% endunless %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
