---
layout: page
title: HLP Lab People - Alumni
---

<h2>Alumni</h2>

{% if site.data.postdoc_alumni %}
<h3><a name="Post-doc Alumni">Post-doc Alumni</a></h3>
{% for person in site.data.postdoc_alumni | sort: 'lastname', 'firstname' %}
<div class="row" id="{{person.username}}">
  <div class="row">
    <div class="large-4 columns">
      {%if person.haspic %}
        {% assign picname = "/pics/USERNAME.jpg"|replace:'USERNAME',person.username |prepend: site.baseurl  %}
      <img src="{{ picname }}" height="250px" width="250px" alt=""/>
      {% else %}
      <img src="{{ "/pics/person.png" |prepend: site.baseurl }}" height="250px" width="250px" alt=""/>
      {% endif %}
    </div>
    <div class="large-8 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %} <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a></li>
        <li><b>From</b>: {{person.range.start}} <b>To</b>: {{person.range.end}}</li>
        {% if person.current %}<li><b>Current position</b>: {{person.current}}</li>{% endif %}
      </ul>
    </div>
  </div>
</div>
<hr/>
{% endfor %}
{% endif %}

{% if site.data.grad_alumni %}
<h2><a name="Graduate Alumni">Graduate Alumni</a></h2>
{% for person in site.data.grad_alumni | sort: 'lastname', 'firstname' %}
<div class="row" id="{{person.username}}">
  <div class="row">
    <div class="large-4 columns">
      {%if person.haspic %}
        {% assign picname = "/pics/USERNAME.jpg"|replace:'USERNAME',person.username |prepend: site.baseurl  %}
      <img src="{{ picname }}" height="250px" width="250px" alt=""/>
      {% else %}
      <img src="{{ "/pics/person.png" |prepend: site.baseurl }}" height="250px" width="250px" alt=""/>
      {% endif %}
    </div>
    <div class="large-8 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %} <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a></li>
        <li><b>Degree</b>: {{person.degree}} ({{person.department}}) {{person.year}}</li>
        {% if person.current %}<li><b>Current position</b>: {{person.current}}</li>{% endif %}
      </ul>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}

{% if site.data.ugrad_alumni %}
<h2><a name="Undergraduate Alumni">Undergraduate Alumni</a></h2>
{% for person in site.data.ugrad_alumni | sort: 'lastname', 'firstname' %}
{% include person.html %}
{% endfor %}
{% endif %}
