---
layout: sidenav_sticky
title: HLP Lab People - Alumni
navlinks:
  - text: People
    link: people/
  - text: Alumni
    link: people/alumni.html
    current: true
    fragments:
      - text: Post-doc Alumni
        anchor: Post-doc-Alumni
      - text: Graduate Alumni
        anchor: Graduate-Alumni
      - text: Undergraduate Alumni
        anchor: Undergraduate-Alumni
  - text: Visiting Scholars
    link: people/visitors.html
  - text: Collaborators
    link: people/collab.html
---

{% if site.data.postdoc_alumni %}
<h3 id="Post-doc-Alumni">Post-doc Alumni</h3>
{% assign sorted_postdocs = site.data.postdoc_alumni |sort: 'lastname' %}
{% for person in sorted_postdocs %}
<div class="row person" id="{{person.username}}">
  <div class="row alumni">
    <div class="large-2 columns">
      {% include roundpic.html %}
    </div>
    <div class="large-10 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %} <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a></li>
        <li><b>From</b>: {{person.range.start}} <b>To</b>: {{person.range.end}}</li>
        {% if person.current %}<li><b>Current position</b>: {{person.current}}</li>{% endif %}
      </ul>
    </div>
  </div>
</div>
<hr/>
{% endfor %}
{% endif %}

{% if site.data.grad_alumni %}
<h2 id="Graduate-Alumni">Graduate Alumni</h2>
{% assign sorted_grads = site.data.grad_alumni |sort: 'lastname' %}
{% for person in sorted_grads %}
<div class="row person" id="{{person.username}}">
  <div class="row alumni">
    <div class="large-2 columns">
      {% include roundpic.html %}
    </div>
    <div class="large-10 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %} <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a></li>
        <li><b>Degree</b>: {{person.degree}} ({{person.department}}) {{person.year}}</li>
        {% if person.current %}<li><b>Current position</b>: {{person.current}}</li>{% endif %}
      </ul>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}

{% if site.data.ugrad_alumni %}
<h2 id="Undergraduate-Alumni">Undergraduate Alumni</h2>
<div class="row">
  <div class="large-12 columns">
    {% assign sorted_ugrads = site.data.ugrad_alumni |sort: 'lastname' %}
    <table id="undergrad_alumni" style="width: 100%;">
      <thead>
        <tr><th>Name</th><th>Major</th><th>Worked With</th><th>Graduation Year</th></tr>
      </thead>
      <tbody>
    {% for person in sorted_ugrads %}
      <tr><td>{{person.firstname}} {{person.lastname}}</td><td>{{person.major|join:', '}}</td><td>{{person.workedwith|join:', '}}</td><td>{{person.gradyear}}</td></tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
