---
layout: sidenav_sticky
title: Collaborators
category: people
navlinks:
  - text: People
    link: people/
  - text: Alumni
    link: people/alumni.html
  - text: Visiting Scholars
    link: people/visitors.html
  - text: Collaborators
    link: people/collab.html
    current: true
    fragments:
---

<table id="collaborators">
  <thead>
      <tr><th>Lab</th><th>Collaborator</th><th>University</th><th>Department</th></tr>
  </thead>
  <tbody>
    {% assign sorted_collab = site.data.collaborators |sort: 'lastname' %}
    {% for collab in sorted_collab %}
    <tr>
      <td>{% if collab.lab_url %}<a href="{{collab.lab_url}}">{% endif %}{{collab.lab}}{% if collab.lab_url %}</a>{% endif %}</td>
      <td>{% if collab.url %}<a href="{{collab.url}}">{% endif %}{{collab.firstname}} {{collab.lastname}}{% if collab.url %}</a>{% endif %}</td>
      <td>{{collab.university}}</td>
      <td>{{collab.department}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
