---
layout: page
title: HLP Lab People - Faculty, Postdocs, and Grads
---

{% if site.data.faculty %}
<h2 id="Faculty">Faculty</h2>
{% for person in site.data.faculty | sort: 'lastname', 'firstname' %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}

{% if site.data.postdocs %}
<h2 id="Postdocs">Postdocs</h2>
{% assign sorted_postdocs = site.data.postdocs |sort: 'lastname' %}
{% for person in sorted_postdocs %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}

{% if site.data.grads %}
<h2 id="Grads">Grad students</h2>
{% assign sorted_grads = site.data.grads |sort: 'lastname' %}
{% for person in sorted_grads %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}
