---
layout: sidenav
title: HLP Lab People
category: people
description: Faculty, Grads, Postdocs, Staff, RAs in the HLP Lab
custom_local_js: sticky
navlinks:
  - text: People
    link: people/
    current: true
    fragments:
      - text: Faculty
        anchor: Faculty
      - text: Postdocs
        anchor: Postdocs
      - text: Grad Students
        anchor: Grads
      - text: Staff
        anchor: Staff
      - text: Undergrad RAs
        anchor: Ugrads
  - text: Alumni
    link: people/alumni.html
  - text: Visiting Scholars
    link: people/visitors.html
  - text: Collaborators
    link: people/collab.html
---

{% if site.data.faculty %}
<section id="Faculty" data-magellan-target="Faculty">
<h2>Faculty</h2>
{% assign sorted_faculty = site.data.faculty |sort: 'lastname' %}
{% for person in sorted_faculty  %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
</section>
{% endif %}

{% if site.data.postdocs %}
<section id="Postdocs" data-magellan-target="Postdocs">
<h2>Postdocs</h2>
{% assign sorted_postdocs = site.data.postdocs |sort: 'lastname' %}
{% for person in sorted_postdocs %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
</section>
{% endif %}

{% if site.data.grads %}
<section id="Grads" data-magellan-target="Grads">
<h2>Grad students</h2>
{% assign sorted_grads = site.data.grads |sort: 'lastname' %}
{% for person in sorted_grads %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
</section>
{% endif %}

{% if site.data.staff %}
<section id="Staff" data-magellan-target="Staff">
<h2>Staff</h2>
{% assign sorted_staff = site.data.staff |sort: 'lastname' %}
{% for person in sorted_staff  %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}

{% if site.data.ugrads %}
<section id="Ugrads" data-magellan-target="Ugrads">
<h2>Current Undergraduate RAs</h2>
{% assign sorted_ugrads = site.data.ugrads |sort: 'lastname' %}
{% for person in sorted_ugrads %}
{% include ugrad.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
</section>
{% endif %}
