---
layout: page
title: HLP Lab People - Staff and Undergraduate RAs
---

{% if site.data.staff %}
<h2 id="staff">Staff</h2>
{% assign sorted_staff = site.data.staff |sort: 'lastname' %}
{% for person in sorted_staff  %}
{% include person.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}

{% if site.data.ugrads %}
<h2 id="ugrads">Current Undergraduate RAs</h2>
{% assign sorted_ugrads = site.data.ugrads |sort: 'lastname' %}
{% for person in sorted_ugrads %}
{% include ugrad.html %}
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}
