---
layout: page
title: HLP Lab People - Visiting Scholars
---

{% if site.data.visitors %}
<h2 id="Visiting Scholars">Visiting Scholars</h2>
{% assign sorted_people = site.data.visitors |sort: 'start' |reverse %}
{% for person in sorted_people %}
<div class="row" id="{{person.username}}" >
  <div class="row">
    {%comment%}For some reason, on this page and this page alone, roundpic screws up and no pic shows{%endcomment%}
    {% include squarepic.html %}
    <div class="large-8 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %}</li>
        <li><b>Affiliation</b>: {% if person.affiliation.role %}{{person.affiliation.role}}, {% endif %}{% if person.affiliation.department %}{{person.affiliation.department}}, {% endif %}{% if person.affiliation.institution %}{{person.affiliation.institution}}{% endif %}</li>
        <li><b>From</b>: {{person.start}} <b>To</b>: {{person.end}}</li>
        {% if person.funding %}
        <li><b>Funding</b>: {{person.funding}}</li>
        {% endif %}
        {% if person.blurb %}
        <li><b>Research statement</b>: {{person.blurb}}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}
