---
layout: page
title: HLP Lab People - Visiting Scholars
category: people
description: Visiting Scholars in the HLP Lab
navlinks:
  - text: People
    link: people/
  - text: Alumni
    link: people/alumni.html
  - text: Visiting Scholars
    link: people/visitors.html
    current: true
  - text: Collaborators
    link: people/collab.html
---

{% if site.data.visitors %}
{% assign sorted_people = site.data.visitors |sort: 'start' |reverse %}
{% for person in sorted_people %}
<div class="grid-x person" id="{{person.username}}" >
  <div class="grid-x">
    <div class="large-3 cell">
      {% include roundpic.html %}
    </div>
    <div class="large-9 cell">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %}</li>
        <li><b>Affiliation</b>: {% if person.affiliation.role %}{{person.affiliation.role}}, {% endif %}{% if person.affiliation.department %}{{person.affiliation.department}}, {% endif %}{% if person.affiliation.institution %}{{person.affiliation.institution}}{% endif %}</li>
        <li><b>From</b>: {{person.start}} <b>To</b>: {{person.end}}</li>
        {% if person.funding %}
        <li><b>Funding</b>: {{person.funding}}</li>
        {% endif %}
        {% if person.blurb %}
        <li><b>Research statement</b>: {{person.blurb}}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}
