---
layout: page
title: HLP Lab People - Visiting Scholars
---

{% if site.data.visitors %}
<h2><a name="Visiting Scholars">Visiting Scholars</a></h2>
{% for person in site.data.visitors %}
<div class="row" id="{{person.username}}" >
  <div class="row">
    <div class="large-4 columns">
      {%if person.haspic %}
      {% assign picname = "/pics/USERNAME.jpg"|replace:'USERNAME',person.username |prepend: site.baseurl  %}
      <img src="{{ picname }}" height="250px" width="250px" alt=""/>
      {% else %}
      <img src="{{ "/pics/person.png" |prepend: site.baseurl }}" height="250px" width="250px" alt=""/>
      {% endif %}
    </div>
    <div class="large-8 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %}</li>
        <li><b>Affiliation</b>: {% if person.affiliation.role %}{{person.affiliation.role}}, {% endif %}{% if person.affiliation.department %}{{person.affiliation.department}}, {% endif %}{% if person.affiliation.institution %}{{person.affiliation.institution}}{% endif %}</li>
        <li><b>From</b>: {{person.start}} <b>To</b>: {{person.end}}</li>
        {% if person.funding %}
        <li><b>Funding</b>: {{person.funding}}</li>
        {% endif %}
        {% if person.blurb %}
        <li><b>Research statement</b>: {{person.blurb}}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}
