{% comment %}
    {% if item.text %}
    <div>
        <p style="text-align: right;"><a data-dropdown="{{item.topic}}_abstract" aria-controls="{{item.topic}}_abstract" aria-expanded="false">Read more &raquo;</a></p>
        <div id="{{item.topic}}_abstract" data-dropdown-content class="large f-dropdown content" aria-hidden="true" tabindex="-1">
            {{ item.text }}
            {% include item_links.html %}
        </div> 
    </div>
    {% endif }
    <div>{% include item_links.html %}</div>
{% endcomment %}


<li class="orbit-slide">
    <figure class="orbit-figure">
        {% img '{{item.image.src}}' alt:'{{item.image.alt}}' %}
        {% if item.image.caption %}
        <figcaption class="orbit-caption">{{item.image.caption}}</figcaption>
        {% endif %}
    </figure>
</li>
