<footer class="site-footer">
    <div class="row">
      <div class="large-3 columns">
        <img src="{{ "/pics/UR.v2.svg" |prepend: site.baseurl }}" alt="University of Rochester" width="123" height="100">
      </div>
      <div class="large-6 columns">
        <div id="socialbuttons" class="row large-up-6 small-up-3">
          <div class="column">
            <a href="https://github.com/{{ site.github.username }}" class="item">
              <img src="{{site.baseurl}}/webicons/webicon-github.svg" alt="GitHub" width="30" height="30">
            </a>
          </div>
          <div class="column">
            <a href="https://bitbucket.org/{{ site.bitbucket.username }}" class="item">
              <img src="{{site.baseurl}}/webicons/webicon-bitbucket.svg" alt="BitBucket" width="30" height="30">
            </a>
          </div>
          <div class="column">
            <a href="https://twitter.com/{{ site.twitter.username }}" class="item">
              <img src="{{site.baseurl}}/webicons/webicon-twitter.svg" alt="Twitter" width="30" height="30">
            </a>
          </div>
          <div class="column">
            <a href="https://{{site.wordpress.username}}.wordpress.com/" class="item">
              <img src="{{site.baseurl}}/webicons/webicon-wordpress.svg" alt="Wordpress" width="30" height="30">
            </a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/channel/{{site.youtube_id}}/" class="item">
              <img src="{{site.baseurl}}/webicons/webicon-youtube.svg" alt="YouTube" width="30" height="30">
            </a>
          </div>
          <div class="column">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="item">
              <img src="{{site.baseurl}}/webicons/webicon-rss.svg" alt="RSS" width="30" height="30">
            </a>
          </div>
        </div>
        <p class="text-center">Copyright&#169; 2007-2015 HLP Lab - University of Rochester</p>
      </div>
      <div class="large-3 columns">
        <!-- <h2 class="footer-heading">{{ site.title }}</h2>-->
        <ul class="vcard">
          <li class="fn">HLP Lab</li>
          <li class="street-address">RC Box 270268, Meliora Hall</li>
          <li class="street-address">University of Rochester</li>
          <li class="locality">Rochester, <span class="state">NY</span>, <span class="zip">14627-0268</span></li>
          <li class="tel"><a href="tel:585-273-1050">585-273-1050</a></li>
          <li class="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      {% comment %}
      <div class="large-3 columns">
        <p class="text">{{ site.description }}</p>
      </div>
      {% endcomment %}
    </div>
</footer>
