<footer class="site-footer">
    <div class="grid-x">
      <div class="cell large-2 large-offset-1">
        {% asset 'UR.v2.svg' alt='University of Rochester' width=123 height=100 %}
      </div>
      <div class="cell large-4">
        <div id="socialbuttons" class="grid-x grid-padding-x large-up-6 medium-up-3 small-up-2">
          <div class="cell">
            <a href="https://github.com/{{ site.github.username }}" class="item" ><i class="fab fa-github" style="font-size: 3em; color: #333;"></i></a>
          </div>
          <div class="cell">
            <a href="https://bitbucket.org/{{ site.bitbucket.username }}" class="item"><i class="fab fa-bitbucket" style="font-size: 3em; color: #205081;"></i></a>
          </div>
          <div class="cell">
            <a href="https://twitter.com/{{ site.twitter.username }}" class="item"><i class="fab fa-twitter" style="font-size: 3em; color: #1da1f2;"></i></a>
          </div>
          <div class="cell">
            <a href="https://{{site.wordpress.username}}.wordpress.com/" class="item"><i class="fab fa-wordpress" style="font-size: 3em; color: #21759b;"></i></a>
          </div>
          <div class="cell">
            <a href="https://www.youtube.com/channel/{{site.youtube_id}}/" class="item"><i class="fab fa-youtube" style="font-size: 3em; color: #ff0000;"></i></a>
          </div>
          <div class="cell">
            <a href="{{ "/news.xml" | prepend: site.baseurl }}" class="item"><i class="fas fa-rss-square" style="font-size: 3em; color: #f26522;"></i></a>
          </div>
        </div>
        <p class="text-center">Copyright&#169; 2007-2018 HLP Lab - University of Rochester</p>
      </div>
      <div class="cell large-3 large-offset-1">
        <!-- <h2 class="footer-heading">{{ site.title }}</h2>-->
        <ul class="vcard">
          <li class="fn">HLP Lab</li>
          <li class="street-address">RC Box 270268, Meliora Hall</li>
          <li class="street-address">University of Rochester</li>
          <li class="locality">Rochester, <span class="state">NY</span>, <span class="zip">14627-0268</span></li>
          <li class="tel"><a href="tel:585-273-1050">585-273-1050</a></li>
          <li class="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      {% comment %}
      <div class="large-3 cell">
        <p class="text">{{ site.description }}</p>
      </div>
      {% endcomment %}
    </div>
</footer>
