<footer class="site-footer">
    <div class="row">
      <div class="large-3 columns">
        <img src="{{ "/pics/UR.v2.png" |prepend: site.baseurl }}" width="164" height="133">
      </div>
      <div class="large-3 columns">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="vcard">
          <li class="street-address">RC Box 270268, Meliora Hall</li>
          <li class="street-address">University of Rochester</li>
          <li class="locality">Rochester, <span class="state">NY</span>, <span class="zip">14627-0268</span></li>
          <li class="tel"><a href="tel:585-273-1050">585-273-1050</a></li>
          <li class="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
          <li>
            <a href="https://github.com/{{ site.github_username }}" class="svg webicon large github">

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          <li>
            <a href="https://bitbucket.org/{{ site.bitbucket_username }}" class="svg webicon large bitbucket">
              <span class="username">{{ site.bitbucket_username }}</span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" class="svg webicon large twitter">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>

          <li>
            <a href="https://{{site.wordpress_username}}.wordpress.com/" class="svg webicon large wordpress">
              <span class="username">{{ site.wordpress_username }}</span>
            </a>
          </li>

          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="svg webicon large rss"> Subscribe via RSS</a>
          </li>
        </ul>
      </div>
      <div class="large-3 columns">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
</footer>
