<header class="site-header">

  <div class="wrapper row">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

  <div class="sticky row">
    <nav class="top-bar" data-topbar role="navigation">

      <section class="top-bar-section">
        <ul class="left">
          <li><a href="{{ "/calendar/" |prepend: site.baseurl }}">Calendar</a></li>
        </ul>

        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown"><a href="/research/statement/">More about HLP Lab research &raquo;</a>
            <ul class="dropdown">
              <li><a href="{{ "/research/statement/" |prepend: site.baseurl }}">Research Statement</a></li>
              <li><a href="{{ "/news/" |prepend: site.baseurl }}">HLP Lab In the News</a></li>
              <li><a href="http://wiki.bcs.rochester.edu/HlpLab/Projects">Ongoing Projects</a></li>
              <li><a href="{{ "/research/grants/" |prepend: site.baseurl }}">How are we funded?</a></li>
              <li><a href="http://wiki.bcs.rochester.edu/HlpLab/">Lab Wiki</a></li>
              <li><a href="{{ "/publications" |prepend: site.baseurl }}">Publications</a></li>
              <li><a href="{{ "/publications/video.html" |prepend: site.baseurl }}">Video Presentations</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="{{ "/people/" |prepend: site.baseurl }}">People &raquo;</a>
            <ul class="dropdown">
              <li><a href="{{ "/people/faculty_grads.html#Faculty" |prepend: site.baseurl }}">Faculty</a></li>
              <li><a href="{{ "/people/faculty_grads.html#Postdocs" |prepend: site.baseurl }}">Postdocs</a></li>
              <li><a href="{{ "/people/faculty_grads.html#Grads" |prepend: site.baseurl }}">Grads</a></li>
              <li><a href="{{ "/people/staff_ra.html#Staff" |prepend: site.baseurl }}">Staff</a></li>
              <li><a href="{{ "/people/staff_ra.html#RA" |prepend: site.baseurl }}">Undergraduate RAs</a></li>
              <li><a href="{{ "/people/independent_study.html" |prepend: site.baseurl }}">Undergraduate Independent Study Students</a></li>
              <li><a href="{{ "/people/alumni.html" |prepend: site.baseurl }}">Alumni</a></li>
              <li><a href="{{ "/people/visitors.html" |prepend: site.baseurl }}">Visiting Scholars</a></li>
              <li><a href="{{ "/people/collab.html" |prepend: site.baseurl }}">Collaborators</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="/jobs/">Job &amp; Research Opportunities &raquo;</a>
            <ul class="dropdown">
              <li><a href="{{ "/jobs/independent.html" |prepend: site.baseurl }}">Independent Study</a></li>
              <li><a href="{{ "/jobs/ra.html" |prepend: site.baseurl }}">Research Assistants</a></li>
              <li><a href="{{ "/jobs/volunteer.html" |prepend: site.baseurl }}">Volunteer</a></li>
              <li><a href="{{ "/grads/" |prepend: site.baseurl }}">Graduate Students &amp; Post-Docs</a></li>
              <li><a href="{{ "/grads/funding.html" |prepend: site.baseurl }}">Grad &amp; Post-doc funding</a></li>
              <li><a href="{{ "/jobs/faculty_funding.html" |prepend: site.baseurl }}">Visiting Faculty funding</a></li>
              <li><a href="{{ "/jobs/past.html" |prepend: site.baseurl }}">Past job opportunities</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="">Resources &raquo;</a>
            <ul class="dropdown">
              <li><a href="/resources/">Public Files</a></li>
              <li><a href="/internal/">Internal Files (password required)</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
