<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

  <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">

      <section class="top-bar-section">
        <ul class="left">
          <li><a href="{{ "/calendar/" |prepend: site.baseurl }}">Calendar</a></li>
        </ul>

        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown {% if page.category == 'research' %}active{% endif %}"><a href="{{ "/research/statement/" |prepend: site.baseurl }}">More about HLP Lab research &raquo;</a>
            <ul class="dropdown">
              <li><a href="{{ "/research/statement/" |prepend: site.baseurl }}">Research Statement</a></li>
              <li><a href="{{ "/research/grants/" |prepend: site.baseurl }}">How are we funded?</a></li>
              <li><a href="{{ "/research/independent_study.html" |prepend: site.baseurl }}">Undergraduate Independent Study Projects</a></li>
              <li><a href="{{ "/publications" |prepend: site.baseurl }}">Publications</a></li>
              <li><a href="{{ "/publications/video.html" |prepend: site.baseurl }}">Recorded Presentations</a></li>
              <li><a href="{{ "/news/" |prepend: site.baseurl }}">HLP Lab In the News</a></li>
              <li><a href="http://wiki.bcs.rochester.edu/HlpLab/">Lab Wiki</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.category == 'people' %}active{% endif %}"><a href="{{ "/people/" |prepend: site.baseurl }}">People &raquo;</a>
            <ul class="dropdown">
              <li><a href="{{ "/people/#Faculty" |prepend: site.baseurl }}">Faculty</a></li>
              <li><a href="{{ "/people/#Postdocs" |prepend: site.baseurl }}">Postdocs</a></li>
              <li><a href="{{ "/people/#Grads" |prepend: site.baseurl }}">Grads</a></li>
              <li><a href="{{ "/people/#Staff" |prepend: site.baseurl }}">Staff</a></li>
              <li><a href="{{ "/people/#RA" |prepend: site.baseurl }}">Undergraduate RAs</a></li>

              <li><a href="{{ "/people/alumni.html" |prepend: site.baseurl }}">Alumni</a></li>
              <li><a href="{{ "/people/visitors.html" |prepend: site.baseurl }}">Visiting Scholars</a></li>
              <li><a href="{{ "/people/collab.html" |prepend: site.baseurl }}">Collaborators</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.category == 'jobs' %}active{% endif %}"><a href="{{ "/jobs/" |prepend: site.baseurl }}">Job &amp; Research Opportunities &raquo;</a>
            <ul class="dropdown">
              <li><a href="{{ "/jobs/independent.html" |prepend: site.baseurl }}">Undergrad - Independent Study</a></li>
              <li><a href="{{ "/jobs/ra.html" |prepend: site.baseurl }}">Undergrad - Research Assistants</a></li>
              <li><a href="{{ "/jobs/volunteer.html" |prepend: site.baseurl }}">Undergrad - Volunteer</a></li>
              <li><a href="{{ "/grads/" |prepend: site.baseurl }}">Graduate Students &amp; Post-Docs</a></li>
              <li class="has-dropdown"><a href="{{ "/jobs/funding.html" |prepend: site.baseurl}}">Fund your research/visit</a>
                <ul class="dropdown">
                  <li><a href="{{ "/jobs/funding.html#ugrad" |prepend: site.baseurl }}">Undergraduate</a></li>
                  <li><a href="{{ "/jobs/funding.html#grad" |prepend: site.baseurl }}">Graduate</a></li>
                  <li><a href="{{ "/jobs/funding.html#postdoc" |prepend: site.baseurl }}">Post-Docs</a></li>
                  <li><a href="{{ "/jobs/funding.html#faculty" |prepend: site.baseurl }}">Visiting Faculty</a></li>
                </ul>
              </li>
              <li><a href="{{ "/jobs/2016postdocs.html" |prepend: site.baseurl }}">Two post-docs available for 2016</a></li>
              <li><a href="{{ "/jobs/past.html" |prepend: site.baseurl }}">Past job opportunities</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="">Resources &raquo;</a>
            <ul class="dropdown">
              <li><a href="/resources/">Public Files</a></li>
              <li><a href="/internal/">Internal Files (password required)</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
