{% if site.data.invited_talks %}
<div class="row">
  <div class="large-12 columns">
  <h2>Language science that caught our ear</h2>
  <p>HLP Lab now runs an informal skype talk series. Work we dig, that caught
  our attention, researchers we're curious about, and lots of discussion. Thank
  you to our presenters for making time.</p>
  <hr/>
  </div>
</div>
{% assign sorted_talks = site.data.invited_talks |sort: 'lastname' %}
{% for person in sorted_talks %}
<div class="row person" id="{{person.username}}" >
  <div class="row">
    <div class="large-3 columns">
      {% include roundpic.html %}
    </div>
    <div class="large-9 columns">
      <ul>
        <li><b>Name</b>: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %}</li>
        <li><b>Affiliation</b>: {% if person.affiliation.role %}{{person.affiliation.role}}, {% endif %}{% if person.affiliation.department %}{{person.affiliation.department}}, {% endif %}{% if person.affiliation.institution %}{{person.affiliation.institution}}{% endif %}</li>
        <li><b>Date</b>: {{person.talk.date}}</li>
        {% if person.talk.title %}
        <li><b>Title</b>: {{person.talk.title}}</li>
        {% endif %}
        {% if person.talk.abstract %}
        <li>
        <a data-dropdown="{{person.username}}_abstract" aria-controls="{{person.username}}_abstract" aria-expanded="false">Abstract</a>
        <span id="{{person.username}}_abstract" data-dropdown-content class="large f-dropdown content" aria-hidden="true" tabindex="-1">{{ person.talk.abstract }}</span>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}