{% if site.invited_talks %}
{% assign invited_talks = site.invited_talks | sort: 'date' | reverse %}
{% for person in invited_talks %}
<div class="row person" id="{{person.username}}" >
  <div class="row smallpic">
    <div class="large-3 columns">
      {% include roundpic.html %}
    </div>
    <div class="large-9 columns">
        <p>
        {{person.date | date_to_long_string}}: {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %}
        ({% if person.affiliation.role %}{{person.affiliation.role}}, {% endif %}{% if person.affiliation.department %}{{person.affiliation.department}}, {% endif %}{% if person.affiliation.institution %}{{person.affiliation.institution}}{% endif %})
        {% if person.talk.title %}<i>
            {% if person.talk.link %}<a href="{{person.talk.link}}" target="_blank">{% endif %}
            {{person.talk.title}}</i>
            {% if person.talk.link %}</a>{% endif %}
        {% endif %}
        </p>
        <a href="{{ person.url }}">[Detail]</a>
    </div>
  </div>
</div>
{% unless forloop.last %}
<hr/>
{% endunless %}
{% endfor %}
{% endif %}
