<div class="grid-x person" id="{{person.username}}" >
  <div class="cell large-12">
    <div class="card-info">
      <div class="card-info-content">
        <div class="grid-x">
          <div class="cell large-6">
            <div class="grid-x">
              <div class="cell">
                <h3>{{person.firstname}} {{person.lastname}}</h3>
              </div>
              <div class="cell">
                {% include squarepic.html %}
              </div>
            </div>
          </div>
          <div class="cell large-6">
            <div class="grid-x">
              <div class="cell">  
                <p>{{person.blurb|markdownify}}</p>
              </div>
              <div class="cell">
                <ul class="fa-ul">
                  <li><i class="fas fa-graduation-cap"></i>&nbsp;{{person.department}}</li>
                  <li><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:{{person.email}}">{{person.email}}</a></li>
                  {% if person.homepage %}<li><i class="fas fa-home"></i>&nbsp;<a href="{{person.homepage}}">{{person.homepage}}</a></li>{% endif %}
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>