<div class="row person" id="{{person.username}}" >
  <div class="row">
      {% include roundpic.html %}
      <div class="large-8 columns">
        <div class="row">
          <div class="large-6 columns">
            {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %} ({{person.department}})
          </div>
          <div class="large-6 columns">
            <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a><br/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <p>{{person.blurb}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
