<div class="row person" id="{{person.username}}" >
  <div class="row">
      {% include roundpic.html %}
      <div class="large-8 columns">
        <div class="row">
          <div class="large-6 columns">
            {{person.firstname}} {{person.lastname}} ({{person.major}}, {{person.gradyear}})
          </div>
          <div class="large-6 columns">
            <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a><br/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <p>Works with: {{person.workswith| array_to_sentence_string}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
