<div class="grid-x person" id="{{person.username}}" >
  <div class="grid-x">
    <div class="large-4 cell">
      {% include roundpic.html %}
    </div>
      <div class="large-8 cell">
        <div class="grid-x">
          <div class="large-6 cell">
            {% if person.homepage %}<a href="{{person.homepage}}">{% endif %}{{person.firstname}} {{person.lastname}}{% if person.homepage %}</a>{% endif %} ({{person.major| array_to_sentence_string}}, {{person.gradyear}})
          </div>
          <div class="large-6 cell">
            <a href="mailto:{{person.email}}">&lt;{{person.email}}&gt;</a><br/>
          </div>
        </div>
        <div class="grid-x">
          <div class="large-12 cell">
        {% if person.workswith %}
            <p>Works with: {{person.workswith| array_to_sentence_string}}</p>
          </div>
        </div>
      </div>
      {% endif %}
  </div>
</div>
