---
---
{{ reference }}
<br/>
{% if entry.keywords %}
<p>Keywords: {{ entry.keywords }}</p>
{% endif %}

{% if entry.abstract %}
<button class="button small hollow" type="button" data-toggle="{{entry.key|replace:':',''}}_abstract">Abstract</button>
<div class="dropdown-pane" data-dropdown id="{{entry.key|replace:':',''}}_abstract" aria-expanded="false">
  <div id="{{entry.key|replace:':',''}}_abstract" data-dropdown-content class="large f-dropdown content" aria-hidden="true" tabindex="-1">
    <p>Abstract: {{ entry.abstract }}</p>
  </div>
</div>
{% endif %}

{% if entry.doi %}
<a class="button small hollow" href="http://dx.doi.org/{{entry.doi}}">DOI</a>
{% endif %}

{% if entry.url %}
<a class="button small hollow" href="{{entry.url}}">Paper</a>
{% endif %}

<button class="button small hollow" type="button" data-toggle="{{entry.key|replace:':',''}}_bibtex">BibTeX</button>
<div class="dropdown-pane" data-dropdown id="{{entry.key|replace:':',''}}_bibtex">
  <div id="{{entry.key|replace:':',''}}_bibtex" data-dropdown-content class="large f-dropdown content" aria-hidden="true" tabindex="-1">
  <pre>{{ entry.bibtex }}</pre>
  </div>
</div>
