---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% comment %}Ideally, use site.tags.TAG to make a link to a page with all pages with tag{% endcomment %}
  <p>Tagged with: {{ page.tags | array_to_sentence_string }}</p>

  <div id="post-nav" class="clearfix">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url |prepend: site.baseurl}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.previous.url and page.next.url %} | {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url |prepend: site.baseurl}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

</div>
