---
layout: page
---

<div class="grid-x">
  <div class="large-2 cell large-offset-1" data-sticky-container id="sidenav">
    <nav class="columns sticky" data-sticky data-anchor="pagecontent">
      <ul class="vertical menu">
        {% for link in page.navlinks %}
          {% if link.fragments %}
          <li {% if link.current %} class="active"{% endif %}><a href="#">{{link.text}}</a>
            <ul class="nested vertical menu" data-magellan>
              {% for f in link.fragments %}
              <li data-magellan-arrival="{{f.anchor}}"><a href="#{{f.anchor}}">{{f.text}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li {% if link.current %} class="active"{% endif %}><a href="{% unless link.external %}{{site.baseurl}}/{% endunless %}{{link.link}}">{{link.text}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div id="pagecontent" class="large-9 cell">
      {{content}}
  </div>
</div>
