---
layout: page
---

<div class="row">
    <div class="large-2 columns offset-1">
        <ul class="side-nav" role="menu">
        {% for link in page.navlinks %}
          {% if link.fragments %}
          <li role="menuitem" {% if link.current %} class="active"{% endif %}><a href="#">{{link.text}}</a>
            <ul class="sub-nav">
              {% for f in link.fragments %}
              <li><a href="#{{f.anchor}}">{{f.text}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li role="menuitem"{% if link.current %} class="active"{% endif %}><a href="{% unless link.external %}{{site.baseurl}}/{% endunless %}{{link.link}}">{{link.text}}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="large-9 columns">
        {{content}}
    </div>
</div>
