---
layout: page
custom_local_js: sticky
---

<div class="row">
  <div class="large-2 columns offset-1">
     <article id="sidebar" class="stickyside">
      <ul class="side-nav">
      {% for link in page.navlinks %}
        {% if link.fragments %}
        <li role="menuitem" {% if link.current %}class="active"{% endif %}><a href="#">{{link.text}}</a>
          <dl class="sub-nav">
            {% for f in link.fragments %}
            <dd><a href="#{{f.anchor}}">{{f.text}}</a></dd>
            {% endfor %}
          </dl>
        </li>
        {% else %}
        <li role="menuitem"{% if link.current %}class="active"{% endif %}><a href="{% unless link.external %}{{site.baseurl}}/{% endunless %}{{link.link}}">{{link.text}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </article>
  </div>
  <div class="large-9 columns">
      {{content}}
  </div>
</div>
