---
layout: page
title: How Are We Funded?
---
<p>HLP Lab was founded in January 2007 by a start-up money generously provided by
  the University of Rochester. Since then we have received funding from university-internal
  and federal research grants listed below. If you like the research we are doing
  and you are interested in providing funding to HLP Lab (e.g. to support undergraduate
  or graduate research opportunities), feel free to contact, HLP Lab's principal
  investigator, <a href="http://www.bcs.rochester.edu/people/fjaeger/">T. Florian Jaeger</a>
  (phone 585-276-3611). Previous undergraduate support (e.g. via Bishop or Biski-Mayer
  fellowships for excellence in undergraduate research) has allowed our most outstanding
  undergraduate researchers to participate in fieldwork on Yucatec Maya (Mexico)
  or to conduct their own series of experiments in the lab (see our
  <a href="/people/independent_study.html">list of independent studies</a>).</p>
<h2>Research Grants</h2>
<table id="funded">
  <thead>
    <tr><th>Years</th><th>Amount</th><th>Agency</th><th>Award</th><th>Title</th><th>Co-PIs</th></tr>
  </thead>
  <tbody>
    {% for grant in site.data.grants %}
    <tr>
      <td>{{grant.years}}</td>
      <td>{{grant.amount}}</td>
      <td>{{grant.agency}}</td>
      <td>{{grant.award}}</td>
      <td>{{grant.description}} {% if grant.link %}[<a href="{{grant.link}}">Summary</a>]{% endif %}</td>
      <td>{% for copi in grant.copis %}
        {% if copi.link %}<a href="{{copi.link}}">{% endif %}{{copi.name}}{% if copi.link %}</a>{% endif %}
        {% if copi.affiliation %}({{copi.affiliation}}){% endif %}
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
